# Maven / Build
target/
build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Spring / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# System
.metadata/
.DS_Store

# Others
HELP.md
